/* used colors are: #222 #eee*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #4d2d06;
    font-family: Georgia, Times, serif;
    color: #fff;
    text-align: center;
    font-size: 50px;    
}

.primary-box {
    background-color: #222;
    color: #fff;
    margin-bottom: 2rem;
}

.secondary-box {
    background-color: #eee;
    color: #000;
    margin-bottom: 2rem;
}
